{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <form action="{{ path('admin_dashboard') }}" method="get" class="form-signin">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Back</button>
    </form>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}

    <main role="main">
        <form action="{{ path('add-recipe') }}" method="post" class="form-signin" id="add-recipe-form">
            <img class="mb-4" src="https://freesvg.org/img/refrigerator.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Add new recipe!</h1>
            <div class="form-group">
                <label for="title" class="sr-only">Recipe title:</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="recipe title" required autofocus>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="3" name="description" form="add-recipe-form"></textarea>
            </div>
            <div class="form-group">
                <label for="ingredients">Example select</label>
                <select multiple class="form-control" name="ingredients[]" id="ingredients" form="add-recipe-form">
                    {% for ingredient in ingredients %}
                        <option value="{{ ingredient.id }}">{{ ingredient.value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Add Recipe</button>
            </div>
        </form>
    </main>

    {% if success %}
        <div class="alert alert-success" role="alert">
            Ingredient Added!
        </div>
    {% endif %}
{% endblock %}
