{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('admin_dashboard') }}" method="get" class="form-signin">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Back</button>
    </form>
    <p>Users:</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
